*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{width: 100%; height:100%; font-family: 'Comfortaa', cursive;}
::-webkit-scrollbar { 
    display: none; 
}
/*css cho menu*/
ul{ list-style-type: none; }
.menu
{
    position: relative;
    background-image: url(images/top2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75px;
    transition: all 0.2s ease-out;
}
.menu .logodau
{
    width: 50px;
    height: 50px;
    margin: 10px;
    position: absolute;
}
.logodau img
{
    max-width: 100%;
}
.menu.menumoi .logodau 
{
    width: 40px;
    height: 40px;
    margin: 13px;
}
.menu.menumoi 
{
    background-image: url(images/aboutendbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 70px;
    z-index: 10;
    width: 100%;
}
.menu.menumoi ul li a:hover
{
    color: black;
} 
.menu.menumoi ul li:hover .submenu
{
    background-color: #fff;
}
.menu.menumoi p {padding: 11px 20px;}
.menu p 
{
    color: black;
    padding: 10px 0px 6px 66px;
    margin: 0;
    float: left;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
}
.menu.menumoi p 
{
    font-size: 30px;
    padding: 14px 0px 6px 66px;
}
.menu ul 
{
    display: inline-flex;
    list-style: none;
    margin: 0px;
    padding: 9px 0px 0px 50px;
}
.menu.menumoi ul li
{
    padding: 12px 10px;
}
.menu ul li
{
    display:block;
    margin: 0px 10px;
    padding: 16px 10px;
}
.menu ul li a
{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    color: black;
}
.menu ul li:hover
{
    font-size: 20px;
    transition: 0.1s;
}
.menu ul li a:hover
{
    color: #17a2b8;
}
.home
{
    color: #fff;
}
.submenu
{
    display:none;
    z-index: 10;
}
.submenu ul li a
{
    font-size: 20px;
    color: black;
}
.menu ul li:hover .submenu
{
    border-radius:5px;
    display: block;
    position: absolute;
    background-color: #fff;
    margin-top: 10px; 
    margin-left: -5px;   
} 
.menu.menumoi ul li:hover .submenu
{
    background-color:#9fb6da;
}  
.menu:hover .submenu ul
{
    display: block;
}
.menu:hover .submenu ul li
{
    text-align: left;
    margin-left: -37px;
}
.menumoi .searchbox
{
    margin: 18px 77px 0px 30px;
}
.menu.menumoi ul 
{
    padding: 10px 0px 13px 50px;
}
.searchbox 
{
    position: relative;
    float: right;
    height: 50px;
    width: 80px;
    margin: 18px 77px 0px 30px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.searchbox.active
{
    width: 350px;
    z-index: 10;
}
.searchbox input
{
    display: inline-block;
    height: 70%;
    width: 100%;
    padding:0 60px 0 20px;
    z-index: 10;
    opacity: 0;
    border-style: groove;

}
input 
{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
.no-outline:focus {
  outline: none;
}
.searchbox input.active
{
    border-radius: 50px;
    opacity: 1;

}
.searchbox .search-btn
{
    position: absolute;
    text-align: center;
    transform: translateY(-50%) rotate(360deg);
    top: 34.8%;
    right: 0px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    z-index: 1;
    border-radius: 50px;
    background: #000;
    cursor: pointer;
    transition: 0.3s;
}
.menu.menumoi .searchbox .search-btn{background-color: #9cb7d8}
i.fa.fa-search 
{
    color: #fff;
}
.searchbox .search-btn:hover
{
    background-color: #9cb7d8;
}
.searchbox .search-btn.active {
    right: -1px;
    margin-top: 0px;
    height: 40px;
    width: 40px;
    line-height: 39px;
    background: #3f4044;
    color: #fff;
}
.searchbox .cancel-btn 
{
    position: absolute;
    right: 14px;
    top: 34.8%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    color: black;
}
.searchbox .cancel-btn.active
{
    right: -22px;
    transform: translateY(-50%) rotate(360deg);
    color: #000;
    transition: 0.5s;
    opacity: 1;
}

.nutlogin 
{
    position: absolute;
    right: 25px;
    top: 20%;
}

.nutlogin a
{
    text-decoration: none;
    color: #000;
    font-size: 28px;
}
.menu.menumoi .nutlogin a {color: #9cb7d8;}
.nutlogin a:hover
{
    color: #9cb7d8;
}
.menu.menumoi .nutlogin a:hover {color: #000;}
/*het menu*/
.error-text h1 {
  color: #38a8f3;
  font-size: 200px;
  font-weight: 900;
  letter-spacing: 10px;
  line-height: 200px;
  margin-bottom: 30px;
}
.error-text h2 {
  color: #242424;
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.error-text p {
  color: #242424;
  font-size: 24px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 30px;
}
 #search-form {
  position: relative;
  width: 450px;
  text-align: center;
  display: inline-block;
}
#search-form input {
  background: #e1e1e1 none repeat scroll 0 0;
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  color: #242424;
  float: left;
  font-size: 14px;
  height: 45px;
  padding-left: 20px;
  padding-right: 55px;
  width: 100%;
}
#search-form button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4f4f4f;
  font-size: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease 0s;
  width: 50px;
}
 #search-form button:hover {
  color:#fed700;
 }
 .error-button a {
  background: #38a8f3 none repeat scroll 0 0;
  border-radius: 35px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 40px;
  margin-top: 53px;
  padding: 0 30px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.error-button a:hover{background:#242424;text-decoration: none;color:#fff;}
.small-version {
  display: none;
}
.content {
    padding: 20px;
    font-family: 'Comfortaa', cursive;
}
.content li {
    font-family: 'Comfortaa', cursive;
    color: black;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}
.error404-area {
    padding: 0 0 80px 0;
}
.content a {
    text-decoration: none;
    color: gray;
}

.content a:hover {
    color: black;
    text-decoration: none;
}
/*end*/
.end{background-color: black;width: 100%;height: 360px;position: relative;overflow: hidden;}
.end .info .row{text-align: center; color: #fff;}
.site-footer.end {
    padding: 80px 0 30px;
}
.ttshop {
    text-align: left;
}
.ttshop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.end .info .row .ttshop ul li i,
.end .info .row .cskh ul li i
{
    font-size: 24px;
    line-height: 1;
    width: 40px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}
.end .info .row .ttshop ul li,
.end .info .row .cskh ul li
{
    display: flex;
    margin-bottom: 15px;
}
.end .info .row .ttshop p,
.end .info .row .cskh p
{font-size: 20px;margin-bottom: 10px;position: relative;line-height: 1.3;font-weight: bold;}

.keduoi {
    width: 15%;
    height: 2px;
    background: #fff;
    margin: 0px 0 30px 0;
}
.ttshop ul li,
.cskh ul li,
.cskh ul li a
{
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    color: white;
}
.logo .logoimg
{
    width: 200px;
    height: 200px;
}
.logoimg img
{
    max-width: 100%;
    background-size: cover;
}